<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <f:view contentType="text/html" >
        <h:head>
            <f:facet name="first">
                <link type="text/css" rel="stylesheet" href="./Principal/css/default.css" />
                <link type="text/css" rel="stylesheet" href="./Principal/css/default-i.css" />
                <script src="./Principal/css/geral.js" type="text/javascript"></script>
                <script src="./Principal/css/novoTab.js" type="text/javascript"></script>
                <script src="./Principal/css/shortcut.js" type="text/javascript"></script>
                <script src="./Principal/css/mask.js" type="text/javascript"></script>
                <script src="./Principal/css/teclasAtalhos.js" type="text/javascript"></script>
                <script src="./Principal/css/textArea.js" type="text/javascript"></script> 
                <script src="./Principal/css/enter-as-tab.js" type="text/javascript"></script> 
                <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
                <title>Controle Agendamento</title>

            </f:facet>

        </h:head>

        <h:body style="background: #486E94;height: 100%" onkeydown="carregaEnterAsTab();" >
            <h:form id="geral" >
                <p:growl  id="mensagem" life="5000" showDetail="true" showSummary="true" sticky="false" />
                <script>
                    function alertRemover(index) {
                        resp = confirm("Deseja realmente remover o Registro ?");
                        if (resp) {
                            //1-cliente;2-suporte;3-modulos;4-tarefas;5-erros
                            switch (index) {
                                case "1":
                                {
                                    removeClient();
                                    break;
                                }
                                case "2":
                                {
                                    removeSupport();
                                    break;
                                }
                                case "3":
                                {
                                    removeModules();
                                    break;
                                }
                                case "4":
                                {
                                    removeTask();
                                    break;
                                }
                                case "5":
                                {
                                    removeError();
                                    break;
                                }
                                case "6":
                                {
                                    removePasta();
                                    break;
                                }
                                default :
                                {
                                    break;
                                }
                            }

                        }
                    }
                </script>

                <style>

                    .singleLine{
                        text-wrap:none;
                        white-space:nowrap;
                        overflow:hidden;
                        text-overflow:ellipsis;
                    }

                    .coluna1{
                        width: 150px !important;
                        height: 15px !important;
                        background: #999999 !important;
                        color: white;
                        border-radius: 5px !important;
                        padding: 10px !important;
                    }
                    .coluna2{
                        padding: 3px !important;
                        font-family: arial !important;
                        font-size: 13.8px !important;

                    }
                    .buttonSetting{
                        width: 182px !important;
                        height: 40px !important;
                        background: #24374B !important;
                        color: white !important;
                        font-size: 11px !important;
                        font-weight: 800 !important;
                        font-family: arial !important;
                        border-radius: 5px !important;
                        border: 0 !important;
                    }
                    .top-dialog {
                        top: 200px !important;
                    }
                    .colTop{
                        vertical-align: top;
                    }
                    .rowBaixo{
                        background: #E5E5E5;
                        font-size: 11px !important;
                        font-weight: bold;
                    }
                    .rowRelativo{
                        background: #95C5E9;
                        font-size: 11px !important;
                        font-weight: bold;
                        color: white;
                    }
                    .rowCritico{
                        background: #F94753;
                        font-size: 11px !important;
                        font-weight: bold;
                        color: white;
                    }
                    .rowEmAndamento{
                        background: #FF694C;
                        font-size: 11px !important;
                        font-weight: bold;
                        color: white;
                    }
                    .rowConcluido{
                        background: #98C57B;
                        font-size: 11px !important;
                        font-weight: bold;
                        color: white;
                    }
                </style>

                <ui:include src="others/calendar.xhtml"/>

                <div style="position: relative;width: 1000px;margin: auto;background: #F2F1F1;margin-top: 5%;border-radius: 10px">
                    <p:panel style="background: #565454;">
                        <h:outputText value="#{controleAgendamentoView.titulo}" style="color: white;font-weight: bold;font-size: 14px;margin-left: 385px"/>
                        <h:outputText value="#{controleAgendamentoView.dataAtual}" style="color: white;font-size: 12px;float: right"/>
                    </p:panel>
                    <br/>
                    <ui:include src="others/process.xhtml" />
                    <br/><br/><br/><br/>
                    <p:panel style="height: 20px;background:#565454;text-align: center">
                        <h:outputText value="Copyright © 2017 - BM - version - BETA " style="color: white"/>
                    </p:panel>
                </div>
            </h:form>

            <p:ajaxStatus onstart="PF('dialogCarregando').show()" oncomplete="PF('dialogCarregando').hide();" />
            <p:dialog width="270" modal="true" widgetVar="dialogCarregando"  closable="false" resizable="false"
                      style="width: 280px;">
                <center>
                    <h:graphicImage value="./Principal/images/carregando7.gif" height="180px"/>
                </center>
            </p:dialog>

        </h:body>
    </f:view>
</html>

