.ui-widget-content
.ui-inputfield,
.ui-widget-header
.ui-inputfield{
    height: 9px;
    border-color: #999;
    -moz-box-shadow:inset 0 0px 0px #8f8f8f;
    -webkit-box-shadow:inset 0 0px 0px #8f8f8f;
    -box-shadow:inset 0 0px 0px #8f8f8f;
    text-decoration: none;
    color:#313131;


}

.AVencer{
    /*background: #ffff99;*/
    background: white;
}

.Vencido{
    background: #ff0000;
    color: white;
}

.Liquidado{
    background-color: #b3dbb3;
}



.ui-inputfield{
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-background-size: 0px;
    -webkit-appearance: normal;
    height: 10px;
}



.iconPassagem{
    background-image:  url("../images/Message.png") !important;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    margin: -1px;
}

.iconCalculadora{
    background-image:  url("../images/Calculator.png") !important;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    margin: -1px;
}

.iconCifrao{
    background-image:  url("../images/Dollar.png") !important;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    margin: -1px;
}

.iconListagem{
    background-image:  url("../images/List.png") !important;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    margin: -1px;
}

.iconCarimbo{

    background-image:  url("../images/icon-carimbo16x16.png") !important;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    margin: -1px;
}

.iconPessoas{
    background-image:  url("../images/People.png") !important;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    margin: -1px;
}


.iconIniciar{
    background-image:  url("../images/Play.png") !important;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    margin: -1px;
}

.iconCompra{
    background-image:  url("../images/Buy.png") !important;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    margin: -1px;
}

.iconSeguranca{
    background-image:  url("../images/Unlock.png") !important;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    margin: -1px;
}

.iconPessoa{
    background-image:  url("../images/pessoa.png") !important;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    margin: -1px;

}

.iconMenu{
    background-image:  url("../images/icon16.png") !important;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    margin: -1px;

}


.iconCopia{
    background-image:  url("../images/Copy.png") !important;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    margin: -1px;
}

.iconEditar{
    background-image:  url("../images/editar.gif") !important;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    margin: -1px;
}
.iconDownload1{
    background-image:  url("../images/download.png") !important;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    margin: -1px;
}
.iconDownload2{
    background-image:  url("../images/download3.png") !important;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    margin: -1px;
}

.iconFiltro{
    background-image:  url("../images/filtro.gif") !important;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    margin: -1px;
}



.iconGrafico2{
    background-image:  url("../images/bar_chart.png") !important;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    margin: -1px;
}
.iconGrafico{
    background-image:  url("../images/Pie_chart.png") !important;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    margin: -1px;
}

.iconChave  {
    background-image:  url("../images/Blue_key.gif") !important;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    margin: -1px;
}

.iconAtualizar{
    background-image:  url("../images/Sync.png") !important;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    margin: -1px;
}

.iconAndamento{
    background-image:  url("../images/andamento_16.png") !important;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    margin: -1px;
}

.iconPrevious{
    background-image:  url("../images/previous16.png") !important;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    margin: -1px;
}

.iconNext{
    background-image:  url("../images/next16.png") !important;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    margin: -1px;
}

.iconDataBase{
    background-image:  url("../images/database.png") !important;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    margin: -1px;
}


.iconFechar{
    background-image:  url("../images/delete.png") !important;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    margin: -1px;
}

.iconSetaDireita{
    background-image:  url("../images/Go_forward.png") !important;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    margin: -1px;
}

.iconSetaEsquerda{
    background-image:  url("../images/setaEsquerda.png") !important;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    margin: -1px;
}


.iconSetaBaixo{
    background-image:  url("../images/save.png") !important;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    margin: -1px;
}

.iconSetaCima{
    background-image:  url("../images/cima.png") !important;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    margin: -1px;
}

.iconDisplay{
    background-image:  url("../images/display16.png") !important;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    margin: -1px;
}

.iconSair{
    background-image:  url("../images/exit.png") !important;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    margin: -1px;
}

.iconRegistro{
    background-image:  url("../images/pencil.png") !important;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    margin: -1px;
}

.iconBuscar{
    background-image:  url("../images/search.png") !important;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    margin: -1px;
}

.iconSalvar{
    background-image:  url('../images/disk.png') !important;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    margin: -1px;

}

.iconNovo{
    background-image:  url("../images/new.png") !important;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    margin: -1px;
}



.iconAdicionar{
    background-image:  url("../images/add.png") !important;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    margin: -1px;
}



.iconAgenda{
    background-image:  url("../images/relogio.png") !important;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    margin: -1px;
}

.iconAnotacao{
    background-image:  url("../images/Notes.png") !important;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    margin: -1px;
}

.iconRemover{
    background-image:  url("../images/Delete16.gif") !important;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    margin: -1px;

}

.iconAvancar{
    background-image:  url("../images/redo.png") !important;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    margin: -1px;

}

.iconRetornar{
    background-image:  url("../images/undo.png") !important;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    margin: -1px;
}

.iconImprimir{
    background-image:  url("../images/print.png") !important;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    margin: -1px;
}

.iconLimpar{
    background-image:  url("../images/edit_clear.png") !important;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    margin: -1px;

}

.iconCalendario{
    background-image:  url("../images/Calendar.gif") !important;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    margin: -1px;

}

.iconAltoFalante{
    background-image:  url("../images/sound.png") !important;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    margin: -1px;
}

.iconOk{
    background-image:  url("../images/OK_1.png") !important;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    margin: -1px;
}

.titlebar2{
    border: 0px;
    color: white;
}
.tarefaEmVencimento{
    background-color: yellow;
}

.tarefaAVencer{
    background-color: white;
}

.tarefaVencida{
    background-color: #de2727;
    color: white;
}

.tarefaExecutada{
    background-color: #b3dbb3;
}

.tarefaEmSupervisao{
    background-color: #b3dbb3;
}

.ui-menu-item{
    padding-right: 50px;
}

.buttonIcon{
    background-image:   url('../template/images/editar.gif') !important ;

    height:16px;
    width: 14px;
}

.obrigatorio{
    float: right;
    height:13px;
    width: 13px;
    position: relative;
    left: 1px;
}
.coluna1{
    font-size: 10px;
    border: 0px;

    background: #999999;

    padding: 3px;
    color: white;

}

.coluna2{
    text-align: left;
    font-size: 10px;
}

.ui-state-active{
    background: #DC8700;
}

.ui-toolbar{
    background: transparent;
    /*background: #72919d;
    border: 0px;*/
}

.ui-panel-title{
    position: relative;
    top: 1px;
    font-weight: normal;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;

}

.ui-toolbar{
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
}

.ui-panel-footer{
    font-weight: bold;
    color: black;
    font-size: 10px;
    font-family: arial;
}
.ui-fieldset .ui-fieldset-legend{
    height: 9px;
}

.ui-panel-titlebar{
    -webkit-border-radius: 2px;
    /*height: 11px;*/
    height: 18px;
    background: #7C8490;

    border: 0px;
}

.ui-accordion-header{
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px; 
    background-color:#b3ac95;
    font-size: 10px;
    font-weight: normal;
}
.wijmo-wijmenu{
    background-color:#b3ac95;
}

.ui-corner-br{
    background-color: #b3ac95;
}

.tb-red-color{
    background-color: #e4ebf4;
}
.ui-datalist{
    width: 330px;
}

.ui-datatable-header{
    font-size: 10px;    
    background-color: #486E94;
    border: 0px;
    font-weight: normal;
    border-radius: 0;
}



td{
    padding: 0px;
}

.ui-fundo{
    background-color:#f7f1f1;
}

.ui-fieldset{
    background: inherit;
}
.ui-fieldset-legend{
    font-size: 10px;
}


.ui-button{
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;

}




.ui-button-text{
    font-size: 10px;
    font-weight: normal;
}

.ui-panel{
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border: 0px
}

.ui-autocomplete-panel{
    font-size: 10px;
}

.fileupload-content{
    height: 0px;
}
.ui-tabs{
    background: inherit;
}





.ui-tabs-panel{
    background: inherit;
}

.ui-tabs-nav{
    background: inherit;
    font-size: 10px;
    font-weight: normal;
}



.ui-panel-footer{
    background: inherit;
}

.ui-accordion{
    background: inherit;
}

.ui-accordion-content{

    background: inherit;
}

.ui-dialog{
    background: #f2eee4;
    border: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
}

.ui-dialog-titlebar{
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border: 0px;
    background: #304268;
}



.ui-growl-item-container{
    background: #333333;
    color: white;
}
.fundo{
    background-color:  transparent;

}
.fundoResumoAtendimento{
    background-color: white;
}

.ui-panel-content{
    background: #f7f1f1;
}

textarea[disabled] {
    border: 1px solid #999;
    background-color: #ddd;
}

input[disabled] {
    border: 1px solid #999;
    background-color: #ddd;
}

select[disabled] {
    border: 1px solid #999;
    background-color: #ddd;
}

select {
    font-size: 10px;

    height: 20px;
    vertical-align: middle;
}

input[type="text"] {
    font-size: 10px;
    height: 15px;


    -moz-border-radius:0px;
    -webkit-border-radius:0px;
    -border-radius:0px;
    border: 1px;
    border-style: solid;
    border-color: #a8a8a8;
}

input[type=text]:focus {
    background-color: #f9f9c1;
    color: #000;
}

select:focus {
    background-color: #f9f9c1;
    color: #000;
}

textarea:focus {
    background-color: #f9f9c1;
    color: #000;
}

textarea {
    color: #000;
}

input[type=checkbox]:focus + label, input[type=radio]:focus + label {
    background-color: #f9f9c1;
    color: #000;
    border-color: #ebebb7;
    border-right-color: #006699;
    border-left-color: #006699;
    border-bottom-color: #006699;
    border-top-color: #006699;
}

.imgAtendente{
    background-image:  url('../template/images/atendente.gif');
}

.imgEditar {
    background-image: url("../template/images/editar.gif") !important;
}

.imgExcluir {
    background-image: url("../template/images/excluir.gif") !important;
}

.apple {
    background: url(../template/images/macosx/apple.png);
    width:16px;
    height:16px;
    background-color: transparent;
    background-repeat: no-repeat;
}

.menuIcon {
    background: url(../template/images/menu.png) !important;
    width:17px;
    height:16px;

    background-color: transparent;
    background-repeat: no-repeat;
}

.menuIconMais {
    background: url(../template/images/add.png) !important;
    width:17px;
    height:16px;

    background-color: transparent;
    background-repeat: no-repeat;
}

body {
    margin: 0px;
    padding: 0;
    font-size: 11px;
    color: #616161;
    color: black;

}



h1, h2, h3 {
    margin-top: 0;
}

h1 {
    font-size: 1.6em;
    font-weight: normal;
}

h2 {
    font-size: 1.6em;
}

h3 {
    font-size: 1em;
    margin-top:20px;
}

ul {
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a img {
    border: none;
}

img.left {
    float: left;
    margin: 0 20px 0 0;
}

img.right {
    float: right;
    margin: 0 0 0 20px;
}

/* Header */
#logo {
    width: 960px;
    height: 75px;
    margin: 0 auto;
    padding: 25px 10px 0 10px;
}

#logo h1, #logo p {
    float: left;
    margin: 0;
}

#logo h1 {
    padding: 0 0 0 0;
    letter-spacing: -1px;
    font-weight: normal;
    font-size: 3em;
}

#logo p {
    text-transform: uppercase;
    padding: 47px 0 0 3px;
    font-size: 10px;
    color: #FFFFFF;
}

#logo a {
    border: none;
    text-decoration: none;
    color: #DC8700;
}

/* Menu */
#menu {
    width: 960px;
    margin: 0 auto;
    padding: 0;
    height: 59px;
}

#menu ul {
    margin: 0;
    padding-left: 270px;
    list-style: none;
}

#menu li {
    display: inline;
}

#menu li a {
    display: block;
    float: left;
    height: 42px;
    margin: 0;
    padding: 18px 40px 0 40px;
    text-decoration: none;
    font-size: 20px;
}

#menu li a:hover {
    text-decoration: underline;
}


/* Wrapper */

#wrapper {
}

/* Page */

#page {
    width: 960px;
    margin: 0 auto;
    padding: 20px 5px;
    background: #FFFFFF;
}

#page-bg {
}

/* Latest Post */

#latest-post {
    padding: 20px;
    border: 1px solid #E7E7E7;
}

/* Content */

#content {
    float: left;
    width: 700px;
}

.post {
    padding-bottom: 15px;
}

.post h1 {
    font-weight: normal;
}

.title {
    height: 30px;
    margin-left: 10px;
    padding: 8px 0 0 20px;
}

.title a {
    border-bottom: none;
    color: #FFFFFF;
}

.title a:hover {
    border-bottom: 1px dotted #000000;
}

.byline {
    margin: -60px 20px 20px 20px;
}

.byline a {
    color: #DC8700;
}

.tag {
    padding: 0 15px;
}

.entry {
    padding: 0 20px;
}

.entry p {
    line-height: 200%;
}

.links {
    padding: 4px 0px;
    text-align: right;
    font-weight: bold;
}

.links a {
    border: none;
}

.links a:hover {
}

/* Sidebars */

#sidebar1 {
    float: left;
    margin-top: -81px;
    margin-left: -1px;
}

#sidebar2 {
    float: right;
}

.sidebar {
    float: left;
    width: 240px;
    padding: 0;
    font-size: 12px;
}

.sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar li {
    padding: 0 0 20px 0;
}

.sidebar span {
    cursor: pointer;
}

.sidebar li ul {
}

.sidebar li li {
    margin: 0 10px 0 10px;
    padding: 3px 0px;
}


.sidebar li h2 {
    height: 40px;
    margin: 0 0 0 0;
    padding: 20px 15px 0px 65px;
    background: url(../template/images/img04.jpg) no-repeat left top;
    letter-spacing: -1px;
    font-size: 16px;
    font-weight: normal;
    color: #FFFFFF;
}

.sidebar a {
}

.sidebar a:hover {
    text-decoration: underline;
}

/* Search */

#searchform {
    margin: 0;
    padding: 0 0 0 0;
}

#searchform br {
    display: none;
}

#searchform h2 {
}

#s {
    margin: 10px 0px 0 15px;
    padding: 2px 2px;
    width: 180px;
    height: 18px;
    border: 1px solid #6F6E6E;
    background: #FFFFFF;
    font-size: 10px;
    color: #000000;
}

#x {
    margin: 0;
    padding: 2px 5px;
    height: 25px;
    background: #CA8186;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #CCCCCC;
}
/* Calendar */

#calendar_wrap {
    padding: 0 15px;
    text-align: center;
}

#calendar_wrap table {
    width: 100%;
}

#calendar_wrap th {
}

#calendar_wrap td {
}

#calendar_wrap tfoot td {
    border: none;
}

#calendar_wrap tfoot td#prev {
    text-align: left;
    font-weight: bold;
    border: none;
}

#calendar_wrap tfoot td#prev a {
    border: none;
}

#calendar_wrap tfoot td#next {
    text-align: right;
    font-weight: bold;
    border: none;
}

#calendar_wrap tfoot td#next a {
    border: none;
}

/* Footer */

#footer {
    width: 960px;
    height: 70px;
    margin: 0 auto;
    padding: 0 20px;
}

#footer p {
    margin: 0;
    padding: 25px 0 0 0;
    text-align: center;
    font-size: smaller;
}

#footer a {
}

#footer .link {
    float: right;
}

#footer .copyright {
    float: left;
}

.homeText {
    line-height: 175%;
}

.homeMenu {
    width:200px;
    float:left;
    margin-right:10px
}

.new {
    color: #FF9900 !important;
    font-weight: bold;
    display:block;
}

.ui-widget {
    font-size: 98% !important;
}

.ui-growl {
    top:115px;

}

.themeMenu {
    overflow: auto;
    height:300px;
    width:200px;
}

.sidebar .wijmo-wijmenu a {
    text-decoration: none !important;
}

.dp-xml {
    width:1000px;
}

.ui-datatable tr:hover{
    background: #b3dbe8 !important;
}
