<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <ui:composition>
        <script type="text/javascript">

            //document.onselectstart = new Function('return false'); //Protege texto
            document.ondragstart = new Function('return false'); //Protege Elementoss



            PrimeFaces.locales['pt_BR'] = {
                closeText: 'Fechar',
                prevText: 'Anterior',
                nextText: 'Próximo',
                currentText: 'Começo',
                monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
                dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb'],
                dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S'],
                weekHeader: 'Semana',
                firstDay: 1,
                isRTL: false,
                showMonthAfterYear: false,
                yearSuffix: '',
                timeOnlyTitle: 'Só Horas',
                timeText: 'Tempo',
                hourText: 'Hora',
                minuteText: 'Minuto',
                secondText: 'Segundo',
                currentText: 'Data Atual',
                        ampm: false,
                month: 'Mês',
                week: 'Semana',
                day: 'Dia',
                allDayText: 'Todo Dia'
            };



        </script>

        <script>
            /* <![CDATA[ */
             
       

            tela = "inicial";
            var inputChamaDate;
            function chamarCalendario(event, o) {

                if (event.keyCode === 113) {
                    tela = "calendar";
                    inputChamaDate = o;

                    if (o.value !== null && o.value !== "")
                    {

                        idia = parseInt(o.value.substring(0, 2));
                        idia++;

                        var dia;

                        if (idia < 10) {
                            dia = "0" + idia.toString();
                        } else {
                            dia = idia.toString();
                        }

                        imes = parseInt();
                        imes--;

                        mes = o.value.substring(3, 5);
                        ano = o.value.substring(6, 10);
                        dataPatternUA = ano + "-" + mes + "-" + dia;
                        dataCalendar = new Date(dataPatternUA);
                        PF("calendar123").setDate(dataCalendar);
                    }


                    PF("calendarioPadrao").show();
                    setarfoco("geral:btnConfirmarCalendar");
                }
            }

            Date.prototype.addDays = function (days)
            {
                var dat = new Date(this.valueOf());
                dat.setDate(dat.getDate() + days);
                return dat;
            };
            Date.prototype.unAddDays = function (days)
            {
                var dat = new Date(this.valueOf());
                dat.setDate(dat.getDate() - days);
                return dat;
            };
            function rightTecla()
            {
                if (tela === "calendar") {
                    data = PF("calendar123").getDate();
                    data = data.addDays(1);
                    PF("calendar123").setDate(data);
                }
            }
            function leftTecla()
            {
                if (tela === "calendar") {
                    data = PF("calendar123").getDate();
                    data = data.unAddDays(1);
                    PF("calendar123").setDate(data);
                }

            }
            function upTecla()
            {
                if (tela === "calendar") {
                    data = PF("calendar123").getDate();
                    data = data.unAddDays(7);
                    PF("calendar123").setDate(data);
                }

            }
            function downTecla()
            {
                if (tela === "calendar") {
                    data = PF("calendar123").getDate();
                    data = data.addDays(7);
                    PF("calendar123").setDate(data);
                }

            }
            function confirmarDataCalendario() {
                if (tela === "calendar") {

                    data = PF("calendar123").getDate();
                    dia = data.getDate();
                    mes = (data.getMonth() + 1);
                    var sDia;
                    var sMes;
                    if (dia < 10) {
                        sDia = "0" + dia.toString();
                    } else {
                        sDia = dia.toString();
                    }

                    if (mes < 10) {
                        sMes = "0" + mes.toString();
                    } else {
                        sMes = mes.toString();
                    }

                    inputChamaDate.value = sDia + "/" + sMes + "/" + data.getFullYear().toString();


                    PF("calendarioPadrao").hide();
                    tela = "inicial";



                }
            }


            function selectFolder(e) {
                var files = e.target.files; // FileList object
                for (var i = 0, f; f = files[i]; i++) {
                    alert(f.name);
                    alert(document.getElementById('ctrl').value);
                    endereco();
                    break;
                }
            }

            function endereco() {

                document.getElementById('text').value = document.getElementById('ctrl').value;

            }

            shortcut.add("f1", function ()
            {

            });

            shortcut.add("f3", function ()
            {

            });

            shortcut.add("f5", function ()
            {

            });

            shortcut.add("f6", function ()
            {

            });

            shortcut.add("f7", function ()
            {

            });

            shortcut.add("f8", function ()
            {

            });

            shortcut.add("f9", function ()
            {

            });

            shortcut.add("f10", function ()
            {

            });

            shortcut.add("f11", function ()
            {

            });

            shortcut.add("f12", function ()
            {

            });


            /* ]]> */
        </script>


        <p:dialog header="Calendário" widgetVar="calendarioPadrao" id="idcalendarioPadrao" width="210" height="198"
                  resizable="false" closeOnEscape="true" styleClass="top-dialog"  onHide="inputChamaDate.focus();inputChamaDate.select();" >
            <p:hotkey bind="up" handler="upTecla()"/>
            <p:hotkey bind="down" handler="downTecla()"/>
            <p:hotkey bind="left" handler="leftTecla()"/>
            <p:hotkey bind="right" handler="rightTecla()"/>
            <p:calendar mode="inline" widgetVar="calendar123" id="idcalendar123"
                        onkeydown="keydownCalendario(event)"/>
            <p:commandButton value="Confirmar" id="btnConfirmarCalendar" onclick="confirmarDataCalendario()"/>
        </p:dialog>

    </ui:composition>
</html>

