<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <body>

        <ui:composition>
            <style>
                .imgProd{
                    top: 80px !important;
                }
            </style>

            <p:dialog header="Upload Arquivo(s)" widgetVar="dialogUpload" dynamic="true"
                      modal="true" width="600px" position="top" styleClass="imgProd" resizable="false"
                      closeOnEscape="true" closable="true" >

                <h:panelGroup id="UpLoad">
                    <p:fileUpload  fileUploadListener="#{controleAgendamentoView.uploadFile}" cancelLabel="Cancelar Arquivo(s)"
                                   mode="advanced" dragDropSupport="true" uploadLabel="Enviar Arquivo(s)"
                                   update="messages,geral:mensagem,:geral:tabGeral"  label="Add Arquivo(s)"
                                   fileLimit="5" invalidFileMessage="Arquivo Inválido" sizeLimit="51380224"
                                   multiple="true"  />

                    <p:growl id="messages" showDetail="true" />
                </h:panelGroup>
            </p:dialog>

        </ui:composition>

    </body>
</html>
