<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:composition>
        <h:panelGroup rendered="#{controleAgendamentoView.renderTarefas}">
            <p:dataTable value="#{controleAgendamentoView.listTarefas}" var="tarefas"
                         rowStyleClass="#{tarefas.statusAgendamento=='2'?'rowEmAndamento':tarefas.statusAgendamento=='3'?'rowConcluido':tarefas.grauSituacao=='3'?'rowCritico':tarefas.grauSituacao=='2'?'rowRelativo':'rowBaixo'}"
                         rows="5" paginator="true" paginatorPosition="top" id="listTarefaId">
                <f:facet name="header">
                    <h:outputText value="Registros(#{controleAgendamentoView.listTarefas.size()})"/>
                    <p:commandButton value="Adicionar" icon="iconAdicionar"  title="Adicionar Tarefas"
                                     action="#{controleAgendamentoView.adicionarTarefas()}"
                                     oncomplete="document.getElementById('geral:campoData').focus();"
                                     update=":geral:tabGeral"  id="addTarefa" styleClass="buttonSetting"/>
                </f:facet>

                <p:column headerText="Data Iniciação" style="width: 55px">
                    <h:outputText value="#{tarefas.dataAgendamento}" converter="data" />
                </p:column>
                <p:column headerText="Data Finalização" style="width: 55px">
                    <h:outputText value="#{tarefas.dataFinalizacao}" converter="data" />
                </p:column>
                <p:column headerText="Cliente" style="text-align: center">
                    <h:outputText value="#{tarefas.cliente.nmCliente}" title="#{tarefas.cliente.nmEmpresaCliente}"/>
                </p:column>
                <p:column headerText="Tarefa" >
                    <h:outputText value="#{tarefas.descricaoTarefa}" title="#{tarefas.descricaoTarefa}"/>
                </p:column>
                <p:column headerText="Grau" style="width: 55px;text-align: center">
                    <h:outputText value="#{tarefas.grauSituacaoDesc}"/>
                </p:column>
                <p:column headerText="Suporte" style="text-align: center;width: 160px">
                    <h:outputText value="#{tarefas.suporte.nmSuporte}"/>
                </p:column>
                <p:column headerText="Status" style="width: 55px;text-align: center">
                    <h:outputText value="#{tarefas.statusAgendamentoDesc}"/>
                </p:column>

                <p:column headerText="Ação" style="width: 55px">
                    <p:commandButton icon="iconEditar" action="#{controleAgendamentoView.editarTarefa()}"
                                     style="background:transparent;border: 0 " update=":geral:tabGeral" title="Editar">
                        <f:setPropertyActionListener target="#{controleAgendamentoView.controleAgendamento}" value="#{tarefas}"/>
                    </p:commandButton>
                    <p:commandButton icon="iconFechar" oncomplete="alertRemover('4')"
                                     style="background:transparent;border: 0 "  title="Deletar">
                        <f:setPropertyActionListener target="#{controleAgendamentoView.controleAgendamento}" value="#{tarefas}"/>
                    </p:commandButton>
                </p:column>
            </p:dataTable>
            <br/>
            <h:panelGroup >
                <h:panelGrid columns="5" style="margin-left: 530px">
                    <p:panel styleClass="rowBaixo" style="width: 80px;height: 25px;text-align: center;border-radius: 10px;cursor: pointer" >
                        <h:outputText value="Baixo" style="color: black;cursor: pointer" title="Grau Baixo"/>
                    </p:panel>
                    <p:panel styleClass="rowRelativo" style="width: 80px;height: 25px;text-align: center;border-radius: 10px;cursor: pointer">
                        <h:outputText value="Relativo" style="color: white;cursor: pointer" title="Grau Relativo"/>
                    </p:panel>
                    <p:panel styleClass="rowCritico" style="width: 80px;height: 25px;text-align: center;border-radius: 10px;cursor: pointer">
                        <h:outputText value="Crítico" style="color: white;cursor: pointer" title="Grau Crítico"/>
                    </p:panel>
                    <p:panel styleClass="rowEmAndamento" style="width: 80px;height: 25px;text-align: center;border-radius: 10px;cursor: pointer">
                        <h:outputText value="Em Andamento" style="color: white;cursor: pointer;position: relative;top: -5px" title="Status Em Andamento"/>
                    </p:panel> 
                    <p:panel styleClass="rowConcluido" style="width: 80px;height: 25px;text-align: center;border-radius: 10px;cursor: pointer">
                        <h:outputText value="Concluido" style="color: white;cursor: pointer" title="Status Concluido"/>
                    </p:panel>
                </h:panelGrid>
            </h:panelGroup>
        </h:panelGroup>
        <h:panelGroup rendered="#{!controleAgendamentoView.renderTarefas}" >
            <h:panelGrid columns="2" columnClasses="coluna1,coluna2"  id="tarefas">
                <h:panelGroup>
                    <h:outputText value="Data:"/>                        
                    <h:graphicImage value="./Principal/images/obrigatorio.png"  styleClass="obrigatorio"/>
                </h:panelGroup>
                <h:panelGroup id="data">
                    <h:panelGrid columns="2" rowClasses="coluna1,coluna2" >
                        <h:outputText value="Agendamento"/>
                        <h:outputText value="Finalizacao"/>

                        <h:inputText  onkeydown="chamarCalendario(event, this)" style="width: 134px;height: 25px;text-align: center"
                                      onkeypress="return maskEvent(this, '##/##/####', event);"
                                      disabled="#{controleAgendamentoView.controleAgendamento.dataFinalizacao!=null}"
                                      converter="data" onblur="validaData(this)" value="#{controleAgendamentoView.controleAgendamento.dataAgendamento}"
                                      id="campoData"/>

                        <h:inputText  onkeydown="chamarCalendario(event, this)" style="width: 134px;height: 25px;text-align: center"
                                      onkeypress="return maskEvent(this, '##/##/####', event);"
                                      disabled="#{controleAgendamentoView.controleAgendamento.statusAgendamento!='3' or controleAgendamentoView.controleAgendamento.dataFinalizacao!=null}"
                                      converter="data" onblur="validaData(this)" 
                                      value="#{controleAgendamentoView.controleAgendamento.dataFinalizacao}"/>
                    </h:panelGrid>
                </h:panelGroup>
                <h:panelGroup>
                    <h:outputText value="Cliente:"/>                        
                    <h:graphicImage value="./Principal/images/obrigatorio.png"  styleClass="obrigatorio"/>
                </h:panelGroup>
                <p:autoComplete value="#{controleAgendamentoView.controleAgendamento.cliente}"
                                scrollHeight="200"   size="45" 
                                completeMethod="#{controleAgendamentoView.completeCliente}"
                                disabled="#{controleAgendamentoView.controleAgendamento.dataFinalizacao!=null}"
                                var="item" forceSelection="true" 
                                itemLabel="#{item.nmCliente}" inputStyle="height: 20px !important"
                                itemValue="#{item}">

                    <p:column headerText="Id">
                        <h:outputText value="#{item.id}"/>
                    </p:column>

                    <p:column headerText="Cliente">
                        <h:outputText value="#{item.nmCliente}"/>
                    </p:column>
                    <p:column headerText="Empresa">
                        <h:outputText value="#{item.nmEmpresaCliente}"/>
                    </p:column>
                </p:autoComplete>
                <h:panelGroup>
                    <h:outputText value="Suporte Responsável:"/>                        
                    <h:graphicImage value="./Principal/images/obrigatorio.png" 
                                    rendered="#{controleAgendamentoView.controleAgendamento.statusAgendamento!='1'}"
                                    styleClass="obrigatorio" id="sup"/>
                </h:panelGroup>
                <p:autoComplete value="#{controleAgendamentoView.controleAgendamento.suporte}"
                                scrollHeight="200"   size="45" id="supResp"
                                completeMethod="#{controleAgendamentoView.completeSuporte}"
                                disabled="#{controleAgendamentoView.controleAgendamento.dataFinalizacao!=null 
                                            or controleAgendamentoView.controleAgendamento.statusAgendamento=='1'}"
                                var="item" forceSelection="true"
                                itemLabel="#{item.nmSuporte}" inputStyle="height: 20px !important"
                                itemValue="#{item}">

                    <p:column headerText="Ip">
                        <h:outputText value="#{item.ipMaquina}"/>
                    </p:column>

                    <p:column headerText="Suporte">
                        <h:outputText value="#{item.nmSuporte}"/>
                    </p:column>
                </p:autoComplete>
                <h:panelGroup>
                    <h:outputText value="Modulos:"/>                        
                    <h:graphicImage value="./Principal/images/obrigatorio.png"  styleClass="obrigatorio"/>
                </h:panelGroup>
                <h:selectOneMenu value="#{controleAgendamentoView.controleAgendamento.modulos}" 
                                 disabled="#{controleAgendamentoView.controleAgendamento.dataFinalizacao!=null}"
                                 style="width: 130px;height: 30px">
                    <f:selectItem itemLabel="Selecione..." itemValue=""/> 
                    <f:selectItems value="#{controleAgendamentoView.selectModulos}"/>
                </h:selectOneMenu>
                <h:panelGroup>
                    <h:outputText value="Grau Situação:"/>                        
                    <h:graphicImage value="./Principal/images/obrigatorio.png"  styleClass="obrigatorio"/>
                </h:panelGroup>
                <h:selectOneMenu value="#{controleAgendamentoView.controleAgendamento.grauSituacao}" 
                                 disabled="#{controleAgendamentoView.controleAgendamento.dataFinalizacao!=null}"
                                 style="width: 130px;height: 30px">
                    <f:selectItem itemLabel="Selecione..." itemValue=""/>
                    <f:selectItem itemLabel="Baixo" itemValue="1"/>
                    <f:selectItem itemLabel="Relativo" itemValue="2"/>
                    <f:selectItem itemLabel="Crítico" itemValue="3"/>
                </h:selectOneMenu>
                <h:panelGroup>
                    <h:outputText value="Status:"/>                        
                    <h:graphicImage value="./Principal/images/obrigatorio.png"  styleClass="obrigatorio"/>
                </h:panelGroup>
                <h:selectOneMenu value="#{controleAgendamentoView.controleAgendamento.statusAgendamento}"
                                 disabled="#{controleAgendamentoView.controleAgendamento.dataFinalizacao!=null}"
                                 style="width: 130px;height: 30px">
                    <f:selectItem itemLabel="Selecione..." itemValue=""/>
                    <f:selectItem itemLabel="Pendente" itemValue="1"/>
                    <f:selectItem itemLabel="Em Andamento" itemValue="2"/>
                    <f:selectItem itemLabel="Concluido" itemValue="3"/>
                    <p:ajax event="change" update="data,supResp,sup"/>
                </h:selectOneMenu>
                <h:panelGroup>
                    <h:outputText value="Tarefa:"/>                        
                    <h:graphicImage value="./Principal/images/obrigatorio.png"  styleClass="obrigatorio"/>
                </h:panelGroup>
                <h:inputTextarea value="#{controleAgendamentoView.controleAgendamento.descricaoTarefa}" 
                                 disabled="#{controleAgendamentoView.controleAgendamento.dataFinalizacao!=null}"
                                 style="max-width: 305px;min-width: 305px;max-height: 60px;min-height: 60px"/>
            </h:panelGrid>
            <p:separator/>
            <h:panelGrid columns="2">
                <p:commandButton value="Confirmar" action="#{controleAgendamentoView.confimarTarefa()}"
                                 oncomplete="confimarTarefaOnComplete(xhr, status, args)" 
                                 icon="iconOk" styleClass="buttonSetting" update=":geral:tabGeral,geral:mensagem"/>
                <p:commandButton value="Cancelar" action="#{controleAgendamentoView.cancelarTarefa()}" 
                                 oncomplete="document.getElementById('geral:listTarefaId:addTarefa').focus();"
                                 icon="iconFechar" styleClass="buttonSetting" update=":geral:tabGeral"/>
            </h:panelGrid>
        </h:panelGroup>

        <script>
            function confimarTarefaOnComplete(xhr, status, args) {
                if (args.sucesso) {
                    document.getElementById('geral:listTarefaId:addTarefa').focus();
                }
            }
            setarfoco('geral:listTarefaId:addTarefa');
        </script>

    </ui:composition>
</html>

