<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:composition>
        <h:panelGroup rendered="#{controleAgendamentoView.tabCadastro==2}">
            <h:panelGroup rendered="#{controleAgendamentoView.renderSuporte}">
                <p:dataTable value="#{controleAgendamentoView.listSuporte}" var="suporte" id="listSuporteId"
                             rows="5" paginator="true" paginatorPosition="top">
                    <f:facet name="header">
                        <h:outputText value="Registros(#{controleAgendamentoView.listSuporte.size()})"/>
                        <p:commandButton value="Adicionar" id="addSuporte" icon="iconAdicionar" title="Adicionar Suporte"
                                         action="#{controleAgendamentoView.adicionarSuporte()}"
                                         oncomplete="document.getElementById('geral:nmSuporte').focus()"
                                         update=":geral:tabGeral" styleClass="buttonSetting"
                                         disabled="#{controleAgendamentoView.disableIpSuporte}" />
                    </f:facet>

                    <p:column headerText="Id" style="width: 60px;text-align: center" >
                        <h:outputText value="#{suporte.id}"/>
                    </p:column>
                    <p:column headerText="Suporte" style="text-align: center" >
                        <h:outputText value="#{suporte.nmSuporte}"/>
                    </p:column>
                    <p:column headerText="Ip" style="text-align: center">
                        <h:outputText value="#{suporte.ipMaquina}"/>
                    </p:column>
                    <p:column headerText="Ativo" style="text-align: center">
                        <h:outputText value="#{suporte.ativoDesc}"/>
                    </p:column>
                    <p:column headerText="Ação" style="width: 55px">
                        <p:commandButton icon="iconEditar" action="#{controleAgendamentoView.editarSuporte()}"
                                         style="background:transparent;border: 0 " update=":geral:tabGeral" title="Editar">
                            <f:setPropertyActionListener target="#{controleAgendamentoView.suporte}" value="#{suporte}"/>
                        </p:commandButton>
                        <p:commandButton icon="iconFechar" oncomplete="alertRemover('2')"
                                         style="background:transparent;border: 0 " title="Deletar">
                            <f:setPropertyActionListener target="#{controleAgendamentoView.suporte}" value="#{suporte}"/>
                        </p:commandButton>
                    </p:column>
                </p:dataTable>
            </h:panelGroup>
            <h:panelGroup rendered="#{!controleAgendamentoView.renderSuporte}">
                <h:panelGrid columns="2" columnClasses="coluna1,coluna2">
                    <h:panelGroup>
                        <h:outputText value="Nome Suporte:"/>                        
                        <h:graphicImage value="./Principal/images/obrigatorio.png"  styleClass="obrigatorio"/>
                    </h:panelGroup>
                    <h:inputText value="#{controleAgendamentoView.suporte.nmSuporte}" disabled="#{!controleAgendamentoView.disableIpSuporte}" 
                                 id="nmSuporte" style="height: 25px !important;width: 330px"/>
                    <h:panelGroup>
                        <h:outputText value="IP Máquina:"/>                        
                        <h:graphicImage value="./Principal/images/obrigatorio.png"  styleClass="obrigatorio"/>
                    </h:panelGroup>
                    <h:inputText value="#{controleAgendamentoView.suporte.ipMaquina}" 
                                 disabled="#{!controleAgendamentoView.disableIpSuporte}"
                                 style="height: 25px !important;width: 200px;text-align: center" />
                    <h:outputText value="Ativo:"/>
                    <h:selectOneMenu value="#{controleAgendamentoView.suporte.ativo}" disabled="#{!controleAgendamentoView.disableIpSuporte}"  style="width: 100px;height: 30px">
                        <f:selectItem itemLabel="Sim" itemValue="true"/>
                        <f:selectItem itemLabel="Nao" itemValue="false"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <p:separator/>
                <h:panelGrid columns="2">
                    <p:commandButton value="Confirmar" icon="iconOk" update=":geral:tabGeral,geral:mensagem"
                                     action="#{controleAgendamentoView.confirmarSuporte()}" 
                                     disabled="#{!controleAgendamentoView.disableIpSuporte}"
                                     oncomplete="confirmarSuporteOnComplete(xhr, status, args)"
                                     styleClass="buttonSetting"/>
                    <p:commandButton value="Cancelar" action="#{controleAgendamentoView.cancelarSuporte()}"
                                     update=":geral:tabGeral" icon="iconFechar"
                                     oncomplete="document.getElementById('geral:listSuporteId:addSuporte').focus()"
                                     styleClass="buttonSetting"/>
                </h:panelGrid>
            </h:panelGroup>
            <script>
                function confirmarSuporteOnComplete(xhr, status, args) {
                    if (args.sucesso) {
                        document.getElementById('geral:listSuporteId:addSuporte').focus();
                    }
                }
            </script>
        </h:panelGroup>
    </ui:composition>
</html>

