<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <ui:composition>
        <h:panelGroup>
            <ui:include src="processRemoteCommand.xhtml"/>

            <h:panelGroup id="processoGeral">
                <!--Menu Geral--> 
                <ui:include src="dialogUpload.xhtml"/>
                <ui:include src="processMenuApp.xhtml"/>
                <br/>
                <h:panelGroup id="tabGeral">
                    <p:panel style="background: white;border: transparent">
                        <!--Menu Cadastro--> 
                        <h:panelGroup rendered="#{controleAgendamentoView.tabProcesso==1}">
                            <ui:include src="processMenuCad.xhtml"/>
                            <p:spacer/>
                            <ui:include src="processClient.xhtml"/>
                            <ui:include src="processSupport.xhtml"/>
                            <ui:include src="processModules.xhtml"/>
                            <ui:include src="processServer.xhtml"/>
                        </h:panelGroup>
                        <!--Menu Tarefas--> 
                        <h:panelGroup rendered="#{controleAgendamentoView.tabProcesso==2}">
                            <ui:include src="processTask.xhtml"/>
                        </h:panelGroup>
                        <!--Menu Erros Sistema--> 
                        <h:panelGroup rendered="#{controleAgendamentoView.tabProcesso==3}">
                            <ui:include src="processErrorSystem.xhtml"/>
                        </h:panelGroup>
                        <!--Menu Logs Sistema--> 
                        <h:panelGroup rendered="#{controleAgendamentoView.tabProcesso==4}">
                            <ui:include src="processLogs.xhtml"/>
                        </h:panelGroup>
                    </p:panel>
                </h:panelGroup>
            </h:panelGroup>
        </h:panelGroup>
    </ui:composition>
</html>

