<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <ui:composition>

        <!-- ********************************* menu sistema ************************* -->

        <p:remoteCommand name="cadastro" action="#{controleAgendamentoView.cadastro()}" 
                         oncomplete="document.getElementById('geral:listClienteId:addCliente').focus();"
                         update="processoGeral"/>
        <p:remoteCommand name="tarefa" action="#{controleAgendamentoView.tarefa()}"
                         oncomplete="document.getElementById('geral:listTarefaId:addTarefa').focus();"
                         update="processoGeral"/>
        <p:remoteCommand name="errosSistema" action="#{controleAgendamentoView.errosSistemasIniciar()}"
                         oncomplete="document.getElementById('geral:listErrosSistemaId:addErros').focus();"
                         update="processoGeral"/>
        <p:remoteCommand name="logsSistema" action="#{controleAgendamentoView.logsSistemaIniciar()}"
                         update="processoGeral"/>

        <!-- ******************************** menu Cadastro ************************** -->
        <p:remoteCommand name="clienteTab" action="#{controleAgendamentoView.clienteTab()}"
                         oncomplete="document.getElementById('geral:listClienteId:addCliente').focus();"
                         update="processoGeral"/>
        <p:remoteCommand name="suporteTab" action="#{controleAgendamentoView.suporteTab()}" 
                         oncomplete="document.getElementById('geral:listSuporteId:addSuporte').focus();"
                         update="processoGeral"/>
        <p:remoteCommand name="modulosTab" action="#{controleAgendamentoView.modulosTab()}" 
                         oncomplete="document.getElementById('geral:listModulosId:addModulos').focus();"
                         update="processoGeral"/>
        <p:remoteCommand name="servidorTab" action="#{controleAgendamentoView.servidorTab()}" 
                         oncomplete="document.getElementById('geral:dirServer').focus();"
                         update="processoGeral"/>
        <!-- ********************************* Sistema ****************************** -->
        <p:remoteCommand name="validarServidor" action="#{controleAgendamentoView.validarDiretorioServidor()}"
                         oncomplete="validarServidorOnComplete(xhr, status, args)"
                         update=":geral:tabGeral,geral:mensagem"/>
        <p:remoteCommand name="salvarServidor" action="#{controleAgendamentoView.salvarDiretorioServidor()}"
                         oncomplete="salvarServidorOnComplete(xhr, status, args)"
                         update=":geral:tabGeral,geral:mensagem"/>
        <p:remoteCommand name="editarServidor" action="#{controleAgendamentoView.editarDiretorioServidor()}"
                         oncomplete="validarServidorOnComplete(xhr, status, args)"
                         update=":geral:tabGeral,geral:mensagem"/>
        <p:remoteCommand name="voltarPasta" action="#{controleAgendamentoView.voltarFilePath()}"
                         update=":geral:tabGeral,geral:mensagem"/>
        <p:remoteCommand name="adicionarPasta" action="#{controleAgendamentoView.adicionarPasta()}"
                         oncomplete="document.getElementById('geral:newfolder').focus();"
                         update=":geral:tabGeral,geral:mensagem"/>
        <p:remoteCommand name="confirmarPasta" action="#{controleAgendamentoView.confirmarPasta()}"
                         oncomplete="salvarServidorOnComplete(xhr, status, args)"
                         update=":geral:tabGeral,geral:mensagem"/>
        <p:remoteCommand name="uploadArquivos" 
                         oncomplete="verificarUpload()"
                         update=":geral:tabGeral,geral:mensagem"/>
        <!-- ******************************* Remover ****************************** -->
        <p:remoteCommand name="removeClient" action="#{controleAgendamentoView.deletarCliente()}"
                         update=":geral:tabGeral,geral:mensagem"/>
        <p:remoteCommand name="removeSupport" action="#{controleAgendamentoView.deletarSuporte()}"
                         update=":geral:tabGeral,geral:mensagem"/>
        <p:remoteCommand name="removeModules" action="#{controleAgendamentoView.deletarModulos()}"
                         update=":geral:tabGeral,geral:mensagem"/>
        <p:remoteCommand name="removeTask" action="#{controleAgendamentoView.deletarTarefa()}" 
                         update=":geral:tabGeral,geral:mensagem"/>
        <p:remoteCommand name="removeError" action="#{controleAgendamentoView.deletarErrosSistema()}" 
                         update=":geral:tabGeral,geral:mensagem"/>
        <p:remoteCommand name="removePasta" action="#{controleAgendamentoView.deletarPasta()}" 
                         oncomplete="salvarServidorOnComplete(xhr, status, args)"
                         update=":geral:tabGeral,geral:mensagem"/>


        <p:remoteCommand name="acepptUpload" action="#{controleAgendamentoView.confirmarALertUpload()}" />
        <p:remoteCommand name="cancelUpload" action="#{controleAgendamentoView.cancelarALertUpload()}"  />
        <script>
            function verificarUpload() {
                resp = confirm("Deseja Descompactar os arquivos .ZIP ?");
                if (resp) {
                    acepptUpload();
                } else {
                    cancelUpload();
                }
                PF('dialogUpload').show();


            }
        </script>

    </ui:composition>
</html>

