<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:composition>
        <h:panelGroup rendered="#{controleAgendamentoView.tabCadastro==1}">
            <h:panelGroup rendered="#{controleAgendamentoView.renderCliente}">
                <p:dataTable value="#{controleAgendamentoView.listCliente}" var="cliente" id="listClienteId"
                             rows="5" paginator="true" paginatorPosition="top">
                    <f:facet name="header">
                        <h:outputText value="Registros(#{controleAgendamentoView.listCliente.size()})"/>
                        <p:commandButton value="Adicionar" id="addCliente" icon="iconAdicionar" 
                                         action="#{controleAgendamentoView.adicionarCliente()}" title="Adicionar Cliente"
                                         oncomplete="document.getElementById('geral:nmCliente').focus()"
                                         update=":geral:tabGeral" styleClass="buttonSetting"/>
                    </f:facet>

                    <p:column headerText="Id" style="width: 60px;text-align: center" >
                        <h:outputText value="#{cliente.id}"/>
                    </p:column>
                    <p:column headerText="Cliente" style="text-align: center">
                        <h:outputText value="#{cliente.nmCliente}"/>
                    </p:column>
                    <p:column headerText="Empresa" style="text-align: center">
                        <h:outputText value="#{cliente.nmEmpresaCliente}"/>
                    </p:column>
                    <p:column headerText="Telefone" style="text-align: center">
                        <h:outputText value="#{cliente.telefoneCliente}"/>
                    </p:column>
                    <p:column headerText="Ação" style="width: 55px">
                        <p:commandButton icon="iconEditar" action="#{controleAgendamentoView.editarCliente()}"
                                         style="background:transparent;border: 0 " update=":geral:tabGeral" title="Editar">
                            <f:setPropertyActionListener target="#{controleAgendamentoView.cliente}" value="#{cliente}"/>
                        </p:commandButton>
                        <p:commandButton icon="iconFechar" oncomplete="alertRemover('1')"
                                         style="background:transparent;border: 0 " title="Deletar">
                            <f:setPropertyActionListener target="#{controleAgendamentoView.cliente}" value="#{cliente}"/>
                        </p:commandButton>
                    </p:column>
                </p:dataTable>
            </h:panelGroup>

            <h:panelGroup rendered="#{!controleAgendamentoView.renderCliente}">
                <h:panelGrid columns="2" columnClasses="colTop,colTop">
                    <h:panelGroup>
                        <h:panelGrid columns="2" columnClasses="coluna1,coluna2">
                            <h:panelGroup>
                                <h:outputText value="Nome Cliente:"/>                        
                                <h:graphicImage value="./Principal/images/obrigatorio.png"  styleClass="obrigatorio"/>
                            </h:panelGroup>
                            <h:inputText value="#{controleAgendamentoView.cliente.nmCliente}"
                                         id="nmCliente" style="height: 25px !important;width: 305px"/>
                            <h:outputText value="Empresa:"/>
                            <h:inputText value="#{controleAgendamentoView.cliente.nmEmpresaCliente}"
                                         style="height: 25px !important;width: 305px"/>
                        </h:panelGrid>        
                    </h:panelGroup>
                    <h:panelGroup id="telefoneId">
                        <div style="width: 470px;background: #f7f5e1;border-radius: 5px">

                            <h:panelGroup rendered="#{controleAgendamentoView.renderTelefoneCliente}">
                                <p:panel style="background: #565454;text-align: center">
                                    <h:outputText value="Telefone" style="font-size: 11.4px;font-weight: bold;color: white"/>
                                </p:panel>
                                <p:dataTable value="#{controleAgendamentoView.cliente.listTelefoneCliente}" var="telefone" id="listTelefoneClienteId"
                                             rows="5" paginator="true" paginatorPosition="top" >
                                    <f:facet name="header">
                                        <h:outputText value="Registros(#{controleAgendamentoView.cliente.listTelefoneCliente.size()})"/>
                                        <p:commandButton value="Adicionar" id="addTelefoneCliente" icon="iconAdicionar" 
                                                         action="#{controleAgendamentoView.adicionarTelefoneCliente()}" title="Adicionar Telefone Cliente"
                                                         oncomplete="document.getElementById('geral:tipoTelefone').focus();"
                                                         update=":geral:telefoneId" styleClass="buttonSetting"/>
                                    </f:facet>

                                    <p:column headerText="Id" style="width: 60px;text-align: center" >
                                        <h:outputText value="#{telefone.id}"/>
                                    </p:column>
                                    <p:column headerText="Tipo Telefone" style="text-align: center">
                                        <h:outputText value="#{telefone.tipoTelefoneDesc}"/>
                                    </p:column>
                                    <p:column headerText="Telefone" style="text-align: center">
                                        <h:outputText value="#{telefone.numTelefone}"/>
                                    </p:column>
                                    <p:column headerText="Operadora" style="text-align: center">
                                        <h:outputText value="#{telefone.nmOperadoraDesc}"/>
                                    </p:column>
                                    <p:column headerText="Ação" style="width: 55px">
                                        <p:commandButton icon="iconEditar" action="#{controleAgendamentoView.editarTelefoneCliente()}"
                                                         oncomplete="document.getElementById('geral:tipoTelefone').focus();"
                                                         style="background:transparent;border: 0 " update=":geral:tabGeral" title="Editar">
                                            <f:setPropertyActionListener target="#{controleAgendamentoView.telefone}" value="#{telefone}"/>
                                        </p:commandButton>
                                        <p:commandButton icon="iconFechar" action="#{controleAgendamentoView.deletarTelefoneCliente()}"
                                                         style="background:transparent;border: 0 " update=":geral:tabGeral,geral:mensagem" title="Deletar">
                                            <f:setPropertyActionListener target="#{controleAgendamentoView.telefone}" value="#{telefone}"/>
                                        </p:commandButton>
                                    </p:column>
                                </p:dataTable>
                            </h:panelGroup>
                            <h:panelGroup rendered="#{!controleAgendamentoView.renderTelefoneCliente}">
                                <h:panelGrid columns="2" columnClasses="colTop,colTop">
                                    <h:panelGroup id="cadtel">
                                        <h:panelGrid columns="2" columnClasses="coluna1,coluna2">
                                            <h:panelGroup>
                                                <h:outputText value="Tipo Telefone:"/>                        
                                                <h:graphicImage value="./Principal/images/obrigatorio.png"  styleClass="obrigatorio"/>
                                            </h:panelGroup>
                                            <h:selectOneMenu value="#{controleAgendamentoView.telefone.tipoTelefone}" id="tipoTelefone"
                                                             style="height: 30px !important;width: 120px">
                                                <f:selectItem itemLabel="Selecione..." itemValue=""/>
                                                <f:selectItem itemLabel="CELULAR" itemValue="1"/>
                                                <f:selectItem itemLabel="FIXO" itemValue="2"/>
                                                <p:ajax event="change" listener="#{controleAgendamentoView.tipoTelfoneOnChange()}" update="cadtel"/>
                                            </h:selectOneMenu>
                                            <h:panelGroup rendered="#{controleAgendamentoView.telefone.tipoTelefone=='1'}">
                                                <h:outputText value="Operadora:"/>                        
                                                <h:graphicImage value="./Principal/images/obrigatorio.png"  styleClass="obrigatorio"/>
                                            </h:panelGroup>
                                            <h:selectOneMenu value="#{controleAgendamentoView.telefone.nmOperadora}" 
                                                             rendered="#{controleAgendamentoView.telefone.tipoTelefone=='1'}" 
                                                             style="height: 30px !important;width: 120px">
                                                <f:selectItem itemLabel="Selecione..." itemValue=""/>
                                                <f:selectItem itemLabel="OI" itemValue="1"/>
                                                <f:selectItem itemLabel="TIM" itemValue="2"/>
                                                <f:selectItem itemLabel="VIVO" itemValue="3"/>
                                                <f:selectItem itemLabel="CLARO" itemValue="4"/>

                                            </h:selectOneMenu>
                                            <h:panelGroup>
                                                <h:outputText value="Telefone:"/>                        
                                                <h:graphicImage value="./Principal/images/obrigatorio.png"  styleClass="obrigatorio"/>
                                            </h:panelGroup>
                                            <h:panelGroup>
                                                <h:inputText value="#{controleAgendamentoView.telefone.numTelefone}"
                                                             style="height: 25px !important;width: 118px;text-align: center"
                                                             rendered="#{controleAgendamentoView.telefone.tipoTelefone=='1'}"
                                                             onkeypress="return maskEvent(this, '(##) #####-####', event);" />
                                                <h:inputText value="#{controleAgendamentoView.telefone.numTelefone}"
                                                             style="height: 25px !important;width: 118px;text-align: center"
                                                             rendered="#{controleAgendamentoView.telefone.tipoTelefone=='2'}"
                                                             onkeypress="return maskEvent(this, '(##) ####-####', event);" />
                                            </h:panelGroup>
                                        </h:panelGrid>
                                    </h:panelGroup>
                                    <h:panelGroup>
                                        <h:panelGrid columns="2">
                                            <p:commandButton value="Adicionar" action="#{controleAgendamentoView.confirmarTelefoneCliente()}"
                                                             oncomplete="confirmarTelefoneClinenteOnComplete(xhr, status, args)"
                                                             styleClass="buttonSetting" update=":geral:telefoneId,geral:mensagem" style="width: 80px !important" icon="iconAdicionar"/>
                                            <p:commandButton value="Cancelar" action="#{controleAgendamentoView.cancelarTelefoneCliente()}"
                                                             oncomplete="document.getElementById('geral:listTelefoneClienteId:addTelefoneCliente').focus();"
                                                             styleClass="buttonSetting" update=":geral:telefoneId" style="width: 80px !important" icon="iconFechar"/>
                                        </h:panelGrid>
                                    </h:panelGroup>
                                </h:panelGrid>
                            </h:panelGroup>

                        </div>
                    </h:panelGroup>
                </h:panelGrid>

                <p:separator/>
                <h:panelGrid columns="2">
                    <p:commandButton value="Confirmar" icon="iconOk" id="confirmClient" action="#{controleAgendamentoView.confirmarCliente()}" 
                                     update=":geral:tabGeral,geral:mensagem" styleClass="buttonSetting"
                                     oncomplete="confirmarClinenteOnComplete(xhr, status, args)"/>
                    <p:commandButton value="Cancelar" icon="iconFechar" action="#{controleAgendamentoView.cancelarCliente()}"
                                     update=":geral:tabGeral,geral:mensagem" styleClass="buttonSetting"
                                     oncomplete="cancelarClinenteOnComplete(xhr, status, args)"/>
                </h:panelGrid>
            </h:panelGroup>

            <script>
                function confirmarClinenteOnComplete(xhr, status, args) {
                    if (args.sucesso) {
                        document.getElementById('geral:listClienteId:addCliente').focus();
                    }
                }
                function confirmarTelefoneClinenteOnComplete(xhr, status, args) {
                    if (args.sucesso) {
                        document.getElementById('geral:listTelefoneClienteId:addTelefoneCliente').focus();
                    }
                }
                function cancelarClinenteOnComplete(xhr, status, args) {
                    if (args.sucesso) {
                        document.getElementById('geral:listClienteId:addCliente').focus();
                    }
                }
            </script>
        </h:panelGroup>
    </ui:composition>
</html>

