<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <ui:composition>
        <h:panelGroup>
            <h:panelGrid columns="4">
                <h:panelGroup>
                    <div style="width: 120px;background:#{controleAgendamentoView.tabCadastro==1?'#999999':'#565454'};height: 50px;margin-left: 10px;border-radius: 5px;cursor: pointer"
                         onclick="document.getElementById('geral:clienteId').click()">
                        <div style="position: relative;top: 3px;margin-left: 13px" title="Cliente">
                            <h:panelGrid columns="2">
                                <img src="./Principal/images/menuCadCliente.png" height="40px" title="Cliente"/>
                                <h:panelGroup>
                                    <p:commandLink value="Cliente" onclick="clienteTab()" id="clienteId" title="Cliente"
                                                   oncomplete="document.getElementById('geral:listClienteId:addCliente').focus()"
                                                   style="color: white;font-size: 13px;font-weight: bold;cursor: pointer"/>
                                </h:panelGroup>
                            </h:panelGrid>
                        </div>
                    </div>    
                </h:panelGroup>
                <h:panelGroup>
                    <div style="width: 120px;background:#{controleAgendamentoView.tabCadastro==2?'#999999':'#565454'};height: 50px;margin-left: 8px;border-radius: 5px;text-align: center;cursor: pointer"
                         onclick="document.getElementById('geral:suporteId').click()" title="Suporte">
                        <div style="position: relative;top: 3px;margin-left: 8px">
                            <h:panelGrid columns="2">
                                <img src="./Principal/images/menuCadSuporte.svg" height="40px" title="Suporte"/>
                                <h:panelGroup>
                                    <p:commandLink value="Suporte" onclick="suporteTab()" id="suporteId" title="Suporte"
                                                   oncomplete="document.getElementById('geral:listSuporteId:addSuporte').focus()"
                                                   style="color: white;font-size: 13px;font-weight: bold;cursor: pointer"/>
                                </h:panelGroup>
                            </h:panelGrid>
                        </div>
                    </div>    
                </h:panelGroup>
                <h:panelGroup>
                    <div style="width: 120px;background:#{controleAgendamentoView.tabCadastro==3?'#999999':'#565454'};height: 50px;margin-left: 8px;border-radius: 5px;text-align: center;cursor: pointer"
                         onclick="document.getElementById('geral:modulosId').click()">
                        <div style="position: relative;top: 3px;margin-left: 13px" title="Modulos">
                            <h:panelGrid columns="2">
                                <img src="./Principal/images/menuCadModulos.png" height="40px" title="Modulos"/>
                                <h:panelGroup>
                                    <p:commandLink value="Modulos" onclick="modulosTab()" id="modulosId" title="Modulos"
                                                   oncomplete="document.getElementById('geral:listModulosId:addModulos').focus()"
                                                   style="color: white;font-size: 13px;font-weight: bold;cursor: pointer"/>
                                </h:panelGroup>
                            </h:panelGrid>
                        </div>    
                    </div>    
                </h:panelGroup>
                <h:panelGroup>
                    <div style="width: 120px;background:#{controleAgendamentoView.tabCadastro==4?'#999999':'#565454'};height: 50px;margin-left: 8px;border-radius: 5px;text-align: center;cursor: pointer"
                         onclick="document.getElementById('geral:servidorId').click()">
                        <div style="position: relative;top: 3px;margin-left: 13px" title="Servidor">
                            <h:panelGrid columns="2">
                                <img src="./Principal/images/menuCadServer.png" height="40px" title="Servidor"/>
                                <h:panelGroup>
                                    <p:commandLink value="Servidor" onclick="servidorTab()" id="servidorId" title="Servidor"
                                                   style="color: white;font-size: 13px;font-weight: bold;cursor: pointer"/>
                                    
                                </h:panelGroup>
                            </h:panelGrid>
                        </div>    
                    </div>    
                </h:panelGroup>
            </h:panelGrid>
        </h:panelGroup>
    </ui:composition>
</html>


