<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:composition>
        <h:panelGroup rendered="#{controleAgendamentoView.renderLogsSistema}">
            <p:dataTable value="#{controleAgendamentoView.listaLog}" var="log" id="listLogsId"
                         rows="5" paginator="true" paginatorPosition="top" emptyMessage="Sem Registros de Logs">
                <f:facet name="header">
                    <h:outputText value="Registros(#{controleAgendamentoView.listaLog.size()})"/>
                    <p:commandButton value="Atualizar" icon="iconAtualizar"  title="Atualizar"
                                     action="#{controleAgendamentoView.carregarLogsSistema()}"
                                     update=":geral:tabGeral"  id="atualizar" styleClass="buttonSetting"/>
                </f:facet>

                <p:column headerText="Data" style="width: 55px">
                    <h:outputText value="#{log.dataHoraLog}" converter="data" />
                </p:column>
                <p:column headerText="Hora" style="width: 40px;text-align: center">
                    <h:outputText value="#{log.dataHoraLog}" converter="hora" />
                </p:column>
                <p:column headerText="Servidor" style="text-align: center">
                    <h:outputText value="#{log.idServidor}"/>
                </p:column>
                <p:column headerText="Mensagem" styleClass="singleLine">
                    <h:outputText value="#{log.mensagem}" title="#{log.mensagem}"/>
                </p:column>
            </p:dataTable>
        </h:panelGroup>

    </ui:composition>
</html>

