<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:composition>
        <h:panelGroup rendered="#{controleAgendamentoView.renderErrosSistema}">
            <p:dataTable value="#{controleAgendamentoView.listErrosSistema}" var="erros"
                         rowStyleClass="#{erros.status=='2'?'rowEmAndamento':erros.status=='3'?'rowConcluido':erros.prioridade=='3'?'rowCritico':erros.prioridade=='2'?'rowRelativo':'rowBaixo'}"
                         rows="5" paginator="true" resizableColumns="true" paginatorPosition="top" id="listErrosSistemaId">
                <f:facet name="header">
                    <h:outputText value="Registros(#{controleAgendamentoView.listErrosSistema.size()})"/>
                    <p:commandButton value="Adicionar" icon="iconAdicionar"  title="Adicionar Erros"
                                     action="#{controleAgendamentoView.adicionarErrosSistema()}"
                                     oncomplete="document.getElementById('geral:campoDataErros').focus()"
                                     update=":geral:tabGeral"  id="addErros" styleClass="buttonSetting"/>
                </f:facet>

                <p:column headerText="Data Registro" style="width: 55px">
                    <h:outputText value="#{erros.dataRegistro}" converter="data" />
                </p:column>
                <p:column headerText="Data Finalização" style="width: 55px">
                    <h:outputText value="#{erros.dataFinalizacao}" converter="data" />
                </p:column>
                <p:column headerText="Cliente" style="text-align: center">
                    <h:outputText value="#{erros.cliente.nmCliente}" title="#{erros.cliente.nmEmpresaCliente}"/>
                </p:column>
                <p:column headerText="Descrição">
                    <h:outputText value="#{erros.descricao}" title="#{erros.descricao}"/>
                </p:column>
                <p:column headerText="Modulo" style="width: 70px;text-align: center">
                    <h:outputText value="#{erros.modulos.nmModulo}"/>
                </p:column>
                <p:column headerText="Prioridade" style="width: 55px;text-align: center">
                    <h:outputText value="#{erros.prioridadeDesc}"/>
                </p:column>
                <p:column headerText="Responsável" style="text-align: center;width: 120px">
                    <h:outputText value="#{erros.suporte.nmSuporte}"/>
                </p:column>
                <p:column headerText="Status" style="width: 55px;text-align: center">
                    <h:outputText value="#{erros.statusDesc}"/>
                </p:column>

                <p:column headerText="Ação" style="width: 55px">
                    <p:commandButton icon="iconEditar" action="#{controleAgendamentoView.editarErrosSistema()}"
                                     oncomplete="document.getElementById('geral:campoDataErros').focus()"
                                     style="background:transparent;border: 0 " update=":geral:tabGeral" title="Editar">
                        <f:setPropertyActionListener target="#{controleAgendamentoView.errosSistema}" value="#{erros}"/>
                    </p:commandButton>
                    <p:commandButton icon="iconFechar" oncomplete="alertRemover('5')"
                                     style="background:transparent;border: 0 "  title="Deletar">
                        <f:setPropertyActionListener target="#{controleAgendamentoView.errosSistema}" value="#{erros}"/>
                    </p:commandButton>
                </p:column>
            </p:dataTable>
            <br/>
            <h:panelGroup >
                <h:panelGrid columns="5" style="margin-left: 530px">
                    <p:panel styleClass="rowBaixo" style="width: 80px;height: 25px;text-align: center;border-radius: 10px;cursor: pointer" >
                        <h:outputText value="Baixo" style="color: black;cursor: pointer" title="Grau Baixo"/>
                    </p:panel>
                    <p:panel styleClass="rowRelativo" style="width: 80px;height: 25px;text-align: center;border-radius: 10px;cursor: pointer">
                        <h:outputText value="Relativo" style="color: white;cursor: pointer" title="Grau Relativo"/>
                    </p:panel>
                    <p:panel styleClass="rowCritico" style="width: 80px;height: 25px;text-align: center;border-radius: 10px;cursor: pointer">
                        <h:outputText value="Crítico" style="color: white;cursor: pointer" title="Grau Crítico"/>
                    </p:panel>
                    <p:panel styleClass="rowEmAndamento" style="width: 80px;height: 25px;text-align: center;border-radius: 10px;cursor: pointer">
                        <h:outputText value="Em Andamento" style="color: white;cursor: pointer;position: relative;top: -5px" title="Status Em Andamento"/>
                    </p:panel> 
                    <p:panel styleClass="rowConcluido" style="width: 80px;height: 25px;text-align: center;border-radius: 10px;cursor: pointer">
                        <h:outputText value="Concluido" style="color: white;cursor: pointer" title="Status Concluido"/>
                    </p:panel>
                </h:panelGrid>
            </h:panelGroup>
        </h:panelGroup>
        <h:panelGroup rendered="#{!controleAgendamentoView.renderErrosSistema}" >
            <h:panelGrid columns="2" columnClasses="coluna1,coluna2"  id="erros">
                <h:panelGroup>
                    <h:outputText value="Data:"/>                        
                    <h:graphicImage value="./Principal/images/obrigatorio.png"  styleClass="obrigatorio"/>
                </h:panelGroup>
                <h:panelGroup id="dataErros">
                    <h:panelGrid columns="2" rowClasses="coluna1,coluna2" >
                        <h:outputText value="Agendamento"/>
                        <h:outputText value="Finalizacao"/>

                        <h:inputText  onkeydown="chamarCalendario(event, this)" style="width: 134px;height: 25px;text-align: center"
                                      onkeypress="return maskEvent(this, '##/##/####', event);"
                                      disabled="#{controleAgendamentoView.errosSistema.dataFinalizacao!=null}"
                                      converter="data" onblur="validaData(this)" value="#{controleAgendamentoView.errosSistema.dataRegistro}"
                                      id="campoDataErros"/>

                        <h:inputText  onkeydown="chamarCalendario(event, this)" style="width: 134px;height: 25px;text-align: center"
                                      onkeypress="return maskEvent(this, '##/##/####', event);"
                                      disabled="#{controleAgendamentoView.errosSistema.status!='3' or controleAgendamentoView.errosSistema.dataFinalizacao!=null}"
                                      converter="data" onblur="validaData(this)" 
                                      value="#{controleAgendamentoView.errosSistema.dataFinalizacao}"/>
                    </h:panelGrid>
                </h:panelGroup>
                <h:panelGroup>
                    <h:outputText value="Cliente:"/>                        

                </h:panelGroup>
                <p:autoComplete value="#{controleAgendamentoView.errosSistema.cliente}"
                                scrollHeight="200"   size="45" 
                                completeMethod="#{controleAgendamentoView.completeCliente}"
                                disabled="#{controleAgendamentoView.errosSistema.dataFinalizacao!=null}"
                                var="item" forceSelection="true" 
                                itemLabel="#{item.nmCliente}" inputStyle="height: 20px !important"
                                itemValue="#{item}">

                    <p:column headerText="Id">
                        <h:outputText value="#{item.id}"/>
                    </p:column>

                    <p:column headerText="Cliente">
                        <h:outputText value="#{item.nmCliente}"/>
                    </p:column>
                    <p:column headerText="Empresa">
                        <h:outputText value="#{item.nmEmpresaCliente}"/>
                    </p:column>
                </p:autoComplete>
                <h:panelGroup>
                    <h:outputText value="Responsável:"/>                        

                </h:panelGroup>
                <p:autoComplete value="#{controleAgendamentoView.errosSistema.suporte}"
                                scrollHeight="200"   size="45" id="resp"
                                completeMethod="#{controleAgendamentoView.completeSuporte}"
                                disabled="#{controleAgendamentoView.errosSistema.dataFinalizacao!=null 
                                            or controleAgendamentoView.errosSistema.status=='1'}"
                                var="item" forceSelection="true"
                                itemLabel="#{item.nmSuporte}" inputStyle="height: 20px !important"
                                itemValue="#{item}">

                    <p:column headerText="Ip">
                        <h:outputText value="#{item.ipMaquina}"/>
                    </p:column>

                    <p:column headerText="Suporte">
                        <h:outputText value="#{item.nmSuporte}"/>
                    </p:column>
                </p:autoComplete>
                <h:panelGroup>
                    <h:outputText value="Modulos:"/>                        
                    <h:graphicImage value="./Principal/images/obrigatorio.png"  styleClass="obrigatorio"/>
                </h:panelGroup>
                <h:selectOneMenu value="#{controleAgendamentoView.errosSistema.modulos}" 
                                 disabled="#{controleAgendamentoView.errosSistema.dataFinalizacao!=null}"
                                 style="width: 130px;height: 30px">
                    <f:selectItem itemLabel="Selecione..." itemValue=""/> 
                    <f:selectItems value="#{controleAgendamentoView.selectModulos}"/>
                </h:selectOneMenu>
                <h:panelGroup>
                    <h:outputText value="Pripridade:"/>                        
                    <h:graphicImage value="./Principal/images/obrigatorio.png"  styleClass="obrigatorio"/>
                </h:panelGroup>
                <h:selectOneMenu value="#{controleAgendamentoView.errosSistema.prioridade}" 
                                 disabled="#{controleAgendamentoView.errosSistema.dataFinalizacao!=null}"
                                 style="width: 130px;height: 30px">
                    <f:selectItem itemLabel="Selecione..." itemValue=""/>
                    <f:selectItem itemLabel="Baixo" itemValue="1"/>
                    <f:selectItem itemLabel="Relativo" itemValue="2"/>
                    <f:selectItem itemLabel="Crítico" itemValue="3"/>
                </h:selectOneMenu>
                <h:panelGroup>
                    <h:outputText value="Status:"/>                        
                    <h:graphicImage value="./Principal/images/obrigatorio.png"  styleClass="obrigatorio"/>
                </h:panelGroup>
                <h:selectOneMenu value="#{controleAgendamentoView.errosSistema.status}"
                                 disabled="#{controleAgendamentoView.controleAgendamento.dataFinalizacao!=null}"
                                 style="width: 130px;height: 30px">
                    <f:selectItem itemLabel="Selecione..." itemValue=""/>
                    <f:selectItem itemLabel="Pendente" itemValue="1"/>
                    <f:selectItem itemLabel="Em Andamento" itemValue="2"/>
                    <f:selectItem itemLabel="Concluido" itemValue="3"/>
                    <p:ajax event="change" listener="#{controleAgendamentoView.statusOnChange()}" update="dataErros,resp"/>
                </h:selectOneMenu>
                <h:panelGroup>
                    <h:outputText value="Descrição:"/>                        
                    <h:graphicImage value="./Principal/images/obrigatorio.png"  styleClass="obrigatorio"/>
                </h:panelGroup>
                <h:inputTextarea value="#{controleAgendamentoView.errosSistema.descricao}" 
                                 disabled="#{controleAgendamentoView.errosSistema.dataFinalizacao!=null}"
                                 style="max-width: 305px;min-width: 305px;max-height: 60px;min-height: 60px"/>
            </h:panelGrid>
            <p:separator/>
            <h:panelGrid columns="2">
                <p:commandButton value="Confirmar" action="#{controleAgendamentoView.confirmarErrosSistema()}"
                                 oncomplete="confimarErrosOnComplete(xhr, status, args)"
                                 icon="iconOk" styleClass="buttonSetting" update=":geral:tabGeral,geral:mensagem"/>
                <p:commandButton value="Cancelar" action="#{controleAgendamentoView.cancelarErrosSistema()}" 
                                 oncomplete="document.getElementById('geral:listErrosSistemaId:addErros').focus();"
                                 icon="iconFechar" styleClass="buttonSetting" update=":geral:tabGeral"/>
            </h:panelGrid>
        </h:panelGroup>

        <script>
            function confimarErrosOnComplete(xhr, status, args) {
                if (args.sucesso) {
                    document.getElementById('geral:listErrosSistemaId:addErros').focus();
                }
            }
        </script>

    </ui:composition>
</html>

