<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:composition>
        <h:panelGroup rendered="#{controleAgendamentoView.tabCadastro==3}">

            <h:panelGroup rendered="#{controleAgendamentoView.renderModulos}">
                <p:dataTable value="#{controleAgendamentoView.listModulos}" var="modulos" id="listModulosId"
                             rows="5" paginator="true" paginatorPosition="top">
                    <f:facet name="header">
                        <h:outputText value="Registros(#{controleAgendamentoView.listModulos.size()})"/>
                        <p:commandButton value="Adicionar" id="addModulos" icon="iconAdicionar" title="Adicionar Modulos"
                                         action="#{controleAgendamentoView.adicionarModulos()}"
                                         oncomplete="document.getElementById('geral:nmModulos').focus()"
                                         update=":geral:tabGeral" styleClass="buttonSetting"/>
                    </f:facet>

                    <p:column headerText="Id" style="width: 60px;text-align: center" >
                        <h:outputText value="#{modulos.id}"/>
                    </p:column>
                    <p:column headerText="Modulos" style="text-align: center" >
                        <h:outputText value="#{modulos.nmModulo}"/>
                    </p:column>
                    <p:column headerText="Ação" style="width: 55px">
                        <p:commandButton icon="iconEditar" action="#{controleAgendamentoView.editarModulos()}"
                                         style="background:transparent;border: 0 " update=":geral:tabGeral" title="Editar">
                            <f:setPropertyActionListener target="#{controleAgendamentoView.modulos}" value="#{modulos}"/>
                        </p:commandButton>
                        <p:commandButton icon="iconFechar" oncomplete="alertRemover('3')"
                                         style="background:transparent;border: 0 "  title="Deletar">
                            <f:setPropertyActionListener target="#{controleAgendamentoView.modulos}" value="#{modulos}"/>
                        </p:commandButton>
                    </p:column>
                </p:dataTable>
            </h:panelGroup>
            <h:panelGroup rendered="#{!controleAgendamentoView.renderModulos}">
                <h:panelGrid columns="2" columnClasses="coluna1,coluna2">
                    <h:panelGroup>
                        <h:outputText value="Nome Modulo:"/>                        
                        <h:graphicImage value="./Principal/images/obrigatorio.png"  styleClass="obrigatorio"/>
                    </h:panelGroup>
                    <h:inputText value="#{controleAgendamentoView.modulos.nmModulo}"  id="nmModulos" 
                                 style="height: 25px !important;width: 215px;text-transform: uppercase;text-align: center"/>
                </h:panelGrid>
                <p:separator/>
                <h:panelGrid columns="2">
                    <p:commandButton value="Confirmar" icon="iconOk" update=":geral:tabGeral,geral:mensagem"
                                     action="#{controleAgendamentoView.confirmarModulos()}" 
                                     oncomplete="confirmarModulosOnComplete(xhr, status, args)"
                                     styleClass="buttonSetting"/>
                    <p:commandButton value="Cancelar" action="#{controleAgendamentoView.cancelarModulos()}"
                                     update=":geral:tabGeral" icon="iconFechar"
                                     oncomplete="document.getElementById('geral:listModulosId:addModulos').focus()"
                                     styleClass="buttonSetting"/>
                </h:panelGrid>
            </h:panelGroup>
            <script>
                function confirmarModulosOnComplete(xhr, status, args) {
                    if (args.sucesso) {
                        document.getElementById('geral:listModulosId:addModulos').focus();
                    }
                }
            </script>
        </h:panelGroup>
    </ui:composition>
</html>

