<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <ui:composition>
        <p:panel style="background: white;;border: transparent;text-align: center">
            <h:panelGrid columns="4">
                <h:panelGroup>
                    <div style="width: 241px;height: 50px;background:#{controleAgendamentoView.tabProcesso==1?'#999999':'#565454'};border-radius: 5px;cursor: pointer " 
                         onclick="document.getElementById('geral:cad').click()" title="Cadastros">
                        <div style="position: relative;top: 5px;margin-left: 70px">
                            <h:panelGrid columns="2">
                                <img src="./Principal/images/menuCad.png" height="40px" title="Cadastros"/>
                                <h:panelGroup>
                                    <p:commandLink value="Cadastros" onclick="cadastro()" id="cad" title="Cadastros"
                                                   style="color: white;font-size: 16px;font-weight: bold;cursor: pointer"/>
                                </h:panelGroup>
                            </h:panelGrid>
                        </div>
                    </div>
                </h:panelGroup>
                <h:panelGroup>
                    <div style="width: 241px;height: 50px;background:#{controleAgendamentoView.tabProcesso==2?'#999999':'#565454'};border-radius: 5px;cursor: pointer " 
                         onclick="document.getElementById('geral:tar').click()" title="Tarefas"> 
                        <div style="position: relative;top: 5px;margin-left: 85px">
                            <h:panelGrid columns="2">
                                <img src="./Principal/images/menuTarefas.png" height="40px" title="Tarefas"/>
                                <h:panelGroup>
                                    <p:commandLink value="Tarefas" onclick="tarefa()"  id="tar" title="Tarefas"
                                                   style="color: white;font-size: 16px;font-weight: bold;cursor: pointer"/>
                                </h:panelGroup>
                            </h:panelGrid>
                        </div>
                    </div>
                </h:panelGroup>
                <h:panelGroup>
                    <div style="width: 241px;height: 50px;background:#{controleAgendamentoView.tabProcesso==3?'#999999':'#565454'};border-radius: 5px;cursor: pointer " 
                         onclick="document.getElementById('geral:es').click()" title="Erros Sistema"> 
                        <div style="position: relative;top: 5px;margin-left: 30px">
                            <h:panelGrid columns="2">
                                <img src="./Principal/images/cadErrosSistema.png" height="40px" title="Erros / Sugestões do Sistema"/>
                                <h:panelGroup>
                                    <p:commandLink value="Erros / Sugestões do Sistema" onclick="errosSistema()"  id="es" title="Erros / Sugestões do Sistema"
                                                   style="color: white;font-size: 16px;font-weight: bold;cursor: pointer"/>
                                </h:panelGroup>
                            </h:panelGrid>
                        </div>
                    </div>
                </h:panelGroup>
                <h:panelGroup>
                    <div style="width: 241px;height: 50px;background:#{controleAgendamentoView.tabProcesso==4?'#999999':'#565454'};border-radius: 5px;cursor: pointer " 
                         onclick="document.getElementById('geral:logs').click()" title="Logs"> 
                        <div style="position: relative;top: 5px;margin-left: 85px">
                            <h:panelGrid columns="2">
                                <img src="./Principal/images/cadLogs.png" height="40px" title="Logs"/>
                                <h:panelGroup>
                                    <p:commandLink value="Logs" onclick="logsSistema()"  id="logs" title="Logs"
                                                   style="color: white;font-size: 16px;font-weight: bold;cursor: pointer"/>
                                </h:panelGroup>
                            </h:panelGrid>
                        </div>
                    </div>
                </h:panelGroup>
            </h:panelGrid>
        </p:panel>
    </ui:composition>
</html>

