<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:composition>
        <h:panelGroup rendered="#{controleAgendamentoView.tabCadastro==4}">
            <p:remoteCommand name="deletePasta" action="#{controleAgendamentoView.verificarItensSelecionados()}" 
                             oncomplete="verificarDeleteOnComplete(xhr, status, args)" update="geral:mensagem"/>
            <p:remoteCommand name="downloadFile" action="#{controleAgendamentoView.verificarItensSelecionados()}"
                             oncomplete="verificarDownloadOnComplete(xhr, status, args)" update="geral:mensagem"/>
            <script>
                function validarServidorOnComplete(xhr, status, args) {
                    if (args.sucesso) {
                        document.getElementById('geral:avancar').focus();
                    } else {
                        document.getElementById('geral:dirServer').focus();
                    }
                }
                function salvarServidorOnComplete(xhr, status, args) {
                    if (args.sucesso) {
                        document.getElementById('geral:avancar').focus();
                    }
                }

                function verificarDeleteOnComplete(xhr, status, args) {
                    if (args.sucesso) {
                        alertRemover("6");
                        document.getElementById('geral:avancar').focus();
                    }
                }
                function verificarDownloadOnComplete(xhr, status, args) {
                    if (args.sucesso) {
                        document.getElementById('geral:download').click();
                    }
                }

            </script>
            <h:panelGrid columns="2" columnClasses="coluna1,coluna2">
                <h:outputText value="Diretório Físico Servidor:"/>
                <h:panelGroup>
                    <h:panelGrid columns="12">
                        <h:inputText value="#{controleAgendamentoView.servidor.diretorio}" style="width: 342px;height: 25px" id="dirServer"
                                     onchange="validarServidor()" disabled="#{controleAgendamentoView.disableInputServer}"/>
                        <p:graphicImage value="./Principal/images/iconValidacaoSearch.png" style="height: 40px;cursor: pointer"
                                        onclick="validarServidor()" title="Validar Diretório" />
                        <p:graphicImage value="./Principal/images/iconValidacaoOk.png" style="height: 40px" 
                                        rendered="#{controleAgendamentoView.statusValidacao==2}" title="Diretório Válido"/>
                        <p:graphicImage value="./Principal/images/iconSave.png" style="height: 40px;cursor: pointer" onclick="salvarServidor()"
                                        rendered="#{controleAgendamentoView.statusValidacao==2 and !controleAgendamentoView.disableInputServer}" title="Salvar Diretório"/>
                        <p:graphicImage value="./Principal/images/iconEdit.png" style="height: 40px;cursor: pointer"  onclick="editarServidor()"
                                        rendered="#{controleAgendamentoView.statusValidacao==2 and controleAgendamentoView.servidor.id!=null and controleAgendamentoView.disableInputServer}" title="Editar Diretório"/>
                        <p:graphicImage value="./Principal/images/iconValidacaoFechar.svg" style="height: 40px"
                                        rendered="#{controleAgendamentoView.statusValidacao==3}" title="Diretório Inválido"/>
                        <p:graphicImage value="./Principal/images/iconFileSetaEsquerda.png" style="height: 40px;cursor: pointer"
                                        rendered="#{controleAgendamentoView.statusValidacao==2}" title="Voltar Pasta"
                                        onclick="voltarPasta()" />
                        <p:graphicImage value="./Principal/images/iconFolderNew.png" style="height: 40px;cursor: pointer"
                                        rendered="#{controleAgendamentoView.statusValidacao==2}" title="Adicionar Pasta"
                                        onclick="adicionarPasta()"/>
                        <p:graphicImage value="./Principal/images/iconDelete.png" style="height: 40px;cursor: pointer"
                                        rendered="#{controleAgendamentoView.statusValidacao==2}" title="Deletar Pasta"
                                        onclick="deletePasta()"/>
                        <p:graphicImage value="./Principal/images/iconUpload.png" style="height: 40px;cursor: pointer"
                                        rendered="#{controleAgendamentoView.statusValidacao==2}" title="Upload Arquivo(s)"
                                        onclick="uploadArquivos()"/>
                        <p:graphicImage value="./Principal/images/iconDowload.png" style="height: 40px;cursor: pointer"
                                        rendered="#{controleAgendamentoView.statusValidacao==2}" title="Download Arquivo(s)"
                                        onclick="downloadFile()"/>
                        <p:commandButton id="download" action="#{controleAgendamentoView.downloadFiles()}"
                                         update=":geral,geral:mensagem" ajax="false"  
                                         style="background: transparent;color: transparent;border: transparent;cursor: default;visibility:hidden ;width: 0.01px !important;height: 0.01px !important"/>

                    </h:panelGrid>
                </h:panelGroup>
            </h:panelGrid>
            <h:panelGroup rendered="#{controleAgendamentoView.servidor.diretorio!=null and controleAgendamentoView.statusValidacao==2}">
                <h:panelGroup rendered="#{controleAgendamentoView.renderPastas}">

                    <div style="text-align: center;background:#565454;height: 30px">
                        <h:panelGroup >
                            <h:outputText value="Registros(#{controleAgendamentoView.servidor.listNavegacaoVisualizada.get(0).id} - #{controleAgendamentoView.servidor.listNavegacaoVisualizada.get(controleAgendamentoView.servidor.listNavegacaoVisualizada.size()-1).id}) - (#{controleAgendamentoView.servidor.listNavegacaoFull.size()})" 
                                          style="color: white;font-size: 12px;font-weight: bold;position: relative;top: 5px" rendered="#{controleAgendamentoView.servidor.listNavegacaoFull.size()>0}"/>
                            <p:spacer width="5px"/>
                            <p:commandButton icon="iconSetaEsquerda " action="#{controleAgendamentoView.voltarListFiles()}" id="voltar" disabled="#{controleAgendamentoView.disableButtonBack or controleAgendamentoView.servidor.listNavegacaoFull.size()==0}" 
                                             style="position: relative;top: 5px;background: #CCCCCC;width: 50px;height: 20px;border: transparent"
                                             update=":geral:tabGeral"/>

                            <p:commandButton icon="iconSetaDireita" action="#{controleAgendamentoView.avancarListFiles()}" id="avancar" disabled="#{controleAgendamentoView.disableButtonNext or controleAgendamentoView.servidor.listNavegacaoFull.size()==0}"
                                             style="position: relative;top: 5px;background: #CCCCCC;width: 50px;height: 20px;border: transparent"
                                             update=":geral:tabGeral"/>
                        </h:panelGroup>

                    </div>

                    <br/>
                    <p:dataGrid value="#{controleAgendamentoView.servidor.listNavegacaoVisualizada}" 
                                rows="10" var="navegacao" columns="6" id="dataGridFolder">
                        <p:column>
                            <h:selectBooleanCheckbox value="#{navegacao.arquivoSelecionado}" style="position: relative;left: 50% !important"/> 
                            <div onclick="document.getElementById('geral:dataGridFolder:#{navegacao.id-1}:linkFiles').click()" 
                                 style=" background: transparent;text-align: center !important;border: transparent;cursor: pointer" >

                                <p:graphicImage value="#{navegacao.arquivo.directory?'./Principal/images/iconFolder.png':'./Principal/images/iconFile.png'}" style="height: 60px;cursor: pointer" />
                                <p:panel style="background: #565454;border-radius: 5px">

                                    <p:commandLink value="#{navegacao.arquivo.name}" action="#{controleAgendamentoView.openFiles()}"
                                                   style="color: white;font-size: 11.4px;color: white;font-weight: bold"
                                                   update=":geral:tabGeral" id="linkFiles">
                                        <f:setPropertyActionListener target="#{controleAgendamentoView.navegacao}" value="#{navegacao}"/>
                                    </p:commandLink>
                                </p:panel>

                            </div>
                        </p:column>
                    </p:dataGrid>
                </h:panelGroup>
                <h:panelGroup rendered="#{!controleAgendamentoView.renderPastas}">
                    <p:panel style="background: #b3dbb3;border-radius: 2px;border: transparent">
                        <h:panelGrid columns="2" columnClasses="coluna1,coluna2">
                            <h:outputText value="Nome da Pasta:"/>
                            <h:inputText value="#{controleAgendamentoView.pastas.nmPasta}" id="newfolder" style="height: 25px;text-align: center"/>
                        </h:panelGrid>
                        <br/>
                        <h:panelGrid columns="2">
                            <p:commandButton value="Confimar" oncomplete="confirmarPasta()"
                                             icon="iconOk" styleClass="buttonSetting"/>
                            <p:commandButton value="Cancelar" action="#{controleAgendamentoView.cancelarPasta()}"
                                             update=":geral:tabGeral" icon="iconFechar" styleClass="buttonSetting"/>
                        </h:panelGrid>
                    </p:panel>
                </h:panelGroup>

            </h:panelGroup>

        </h:panelGroup>
    </ui:composition>
</html>

